@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('/fonts/BeVietnamPro-Light.ttf') format('truetype');
}

@theme {
    --font-vietnam: 'Be Vietnam Pro', sans-serif;

    /* Primary colors */
    --orange-400: hsl(12, 88%, 59%);
    --blue-950: hsl(228, 39%, 23%);

    /* Secondary colors */
    --gray-950: hsl(233, 12%, 13%);
    --orange-50: hsl(13, 100%, 96%);
    --gray-50: hsl(0, 0%, 98%);

    /* Font weights */
    --font-w-400: 400;
    --font-w-500: 500;
    --font-w-700: 700;
}

html,
body {
    width: 100%;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--font-vietnam);
}

@layer base {
    button {
        cursor: pointer;
        background: transparent;
        border: none;
        font-weight: var(--font-w-500);
    }

    a {
        font-weight: var(--font-w-500);

        &:hover {
            color: var(--gray-950);
        }
    }

    h1,
    h2,
    h3 {
        color: var(--blue-950);
        font-weight: bold;
    }

    p {
        @apply text-slate-500 text-pretty;
    }
}

@layer components {
    /* Navbar */
    header {
        @apply relative flex justify-between items-center py-8 px-5 lg:px-10 z-50 w-full;

        nav {
            @apply lg:w-full;
        }
    }
    .btn {
        @apply bg-[var(--orange-400)] py-2 px-4 rounded-[2rem];
    }

    .section-grid {
        @apply grid grid-cols-1 lg:grid-cols-2;
    }

    /* Hero Section */

    /* About Section */
    .about-content {
        @apply px-3 md:px-10 lg:px-25;
    }

    .about-header {
        @apply text-2xl text-center md:text-4xl md:text-left;
    }

    .about-description {
        @apply text-center text-slate-500 md:text-left pt-3;
    }

    /* About bg pattern */
    .bg-pattern-tablet {
        @apply relative -bottom-[10%] -left-[50%] hidden md:block lg:-left-[80%];
    }

    .about-list-content {
        @apply flex flex-col gap-9 px-4 md:gap-12;
    }

    .list-header {
        @apply bg-orange-50 py-[.4rem] rounded-l-[1.5rem] md:bg-transparent;
    }

    .span-number {
        @apply bg-[var(--orange-400)] py-[.5rem] px-[1rem] rounded-[1.5rem] font-bold text-white;
    }

    .span-text {
        @apply ml-3 text-sm font-bold md:text-base lg:text-lg;
    }

    .about-list {
        @apply bg-orange-50 py-[.4rem] rounded-[2rem];
    }

    .about-content-p {
        @apply pt-5 md:ml-16;
    }
}
