@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('/fonts/BeVietnamPro-Light.ttf') format('truetype');
}

@theme {
    --font-vietnam: 'Be Vietnam Pro', sans-serif;

    /* Primary colors */
    --orange-400: hsl(12, 88%, 59%);
    --blue-950: hsl(228, 39%, 23%);

    /* Secondary colors */
    --gray-950: hsl(233, 12%, 13%);
    --orange-50: hsl(13, 100%, 96%);
    --gray-50: hsl(0, 0%, 98%);

    /* Font weights */
    --font-w-400: 400;
    --font-w-500: 500;
    --font-w-700: 700;
}

html,
body {
    width: 100%;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--font-vietnam);
}

@layer base {
    button {
        cursor: pointer;
        background: transparent;
        border: none;
        font-weight: var(--font-w-500);
    }

    a {
        font-weight: var(--font-w-500);

        &:hover {
            color: var(--gray-950);
        }
    }

    h1,
    h2,
    h3 {
        color: var(--blue-950);
        font-weight: bold;
    }

    p {
        @apply text-slate-500 text-pretty;
    }
}

@layer components {
    /* Navbar */
    header {
        @apply relative flex justify-between items-center py-8 px-5 lg:px-10 z-50 w-full;

        nav {
            @apply lg:w-full;

            .desktop-nav-container {
                @apply hidden lg:flex;

                .desktop-nav-links {
                    @apply flex items-center gap-10 mx-auto;
                }

                .desktop-nav-links li a {
                    @apply hover:text-slate-500 duration-200;
                }
            }

            .menu-btn {
                @apply flex lg:hidden;
            }
        }
    }

    .btn {
        @apply bg-[var(--orange-400)] py-2 px-4 rounded-[2rem] text-white shadow-lg 
        hover:bg-orange-400 duration-200 ease-in-out;
    }

    .section-grid {
        @apply grid grid-cols-1 lg:grid-cols-2;
    }

    /* Hero Section */
    .hero-grid {
        @apply grid grid-cols-1 gap-10 justify-center md:grid-cols-2 px-[2rem] md:py-[3rem] md:px-[4rem] lg:py-[5%] lg:px-[6%] overflow-x-hidden;

        .hero-bg-pattern-img {
            @apply absolute -z-50 -top-30 md:-right-[10%] hidden md:block overflow-x-hidden;
        }

        .hero-content {
            @apply flex flex-col gap-10 md:-order-1 md:pr-8 lg:pr-[9%];

            .hero-header {
                @apply text-[var(--blue-950)] text-2xl text-center md:text-left md:text-3xl lg:text-5xl font-bold lg:leading-14;
            }

            .hero-paragraph {
                @apply text-center text-slate-500 md:text-left lg:text-lg lg:w-5/6;
            }
        }
    }

    /* About Section */
    .about-content {
        @apply px-3 md:px-10 lg:px-25;
    }

    .about-header {
        @apply text-2xl text-center md:text-4xl md:text-left;
    }

    .about-description {
        @apply text-center text-slate-500 md:text-left pt-3;
    }

    /* About bg pattern */
    .bg-pattern-tablet {
        @apply relative -bottom-[10%] -left-[50%] hidden md:block lg:-left-[80%];
    }

    .about-list-content {
        @apply flex flex-col gap-9 px-4 md:gap-12;
    }

    .list-header {
        @apply bg-orange-50 py-[.4rem] rounded-l-[1.5rem] md:bg-transparent;
    }

    .span-number {
        @apply bg-[var(--orange-400)] py-[.5rem] px-[1rem] rounded-[1.5rem] font-bold text-white;
    }

    .span-text {
        @apply ml-3 text-sm font-bold md:text-base lg:text-lg;
    }

    .about-list {
        @apply bg-orange-50 py-[.4rem] rounded-[2rem];
    }

    .about-content-p {
        @apply pt-5 md:ml-16;
    }

    /* Footer Section */
    .footer-cta {
        @apply bg-[var(--orange-400)] py-20 px-10 lg:py-[5%] flex flex-col items-center lg:justify-end lg:flex-row 
        relative;

        .bg-pattern-mobile {
            @apply absolute top-[5%] left-0 lg:hidden;
        }

        .bg-pattern-desktop {
            @apply hidden absolute bottom-0 lg:block;
        }

        .cta-heading {
            @apply text-white text-5xl text-center lg:pr-10 lg:w-2/4 lg:text-left lg:mr-auto;
        }

        .cta-button {
            @apply bg-white rounded-[2rem] py-[.5rem] px-[1rem] text-orange-500 shadow-2xl mx-auto mt-20 lg:mt-0 lg:mx-0 ml-auto drop-shadow-md
            hover:bg-orange-400 hover:text-white duration-200;
        }
    }

    .footer-main {
        @apply bg-[var(--gray-950)] z-20 flex flex-col items-center gap-10 py-10 lg:flex-row lg:items-start lg:gap-0 lg:px-10;

        .footer-form {
            @apply w-full flex px-10 lg:px-0 lg:order-5 lg:justify-end;

            .form-input {
                @apply bg-white py-1 px-5 rounded-3xl w-full text-xs lg:w-3/5;
            }

            .form-button {
                @apply bg-[var(--orange-400)] font-bold ml-2 py-1 px-3 rounded-3xl text-white
                hover:bg-orange-400 duration-150;
            }
        }

        .footer-nav-links {
            @apply flex w-full lg:order-3;

            .links-menu {
                @apply flex justify-between w-full px-10 text-white leading-10;
            }

            .links-menu li a {
                @apply hover:text-slate-500 duration-200;
            }
        }

        .social-links {
            @apply flex flex-col w-full items-center lg:w-4/5 lg:items-start lg:order-2 gap-10;

            .social-menu {
                @apply flex gap-8 lg:mt-15;
            }

            .social-menu li a svg path {
                @apply duration-200;
            }

            /* Custom CSS */
            .social-menu li:hover path {
                fill: var(--orange-400);
            }

            .footer-logo {
                @apply lg:-order-1;
            }
        }
    }
}
